.categories_vacancies {
  background-color: #e4f2ff;
  padding: 6.68rem 0;
}

.categories_container,
.vacancies_container {
  display: flex;
  flex-direction: column;
  gap: 2.68rem;
  margin-left: 6.25rem;
  width: 87%;
}

.categories_container {
  margin-bottom: 7.87rem;
}
