.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 5.75rem;
}

.grid div {
  padding: 3.75rem 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.grid div span {
  font-size: 1rem;
  font-weight: 500;
}

.grid div img {
  width: 29px;
  height: 61px;
}

.grid .more_cards {
  background-color: transparent;
  border: 2px solid gray;
}
