.body {
  background-color: #cde7ff;
  background-image: url('../../assets/icons/figure.svg');
  background-repeat: no-repeat;
  background-position: 50vw 300px;
  background-size: 55% 70%;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 6.25rem;
  padding-top: 8.19rem;
  padding-bottom: 18.44rem;
  gap: 0.93rem;
}

.content h1 {
  font-size: 4rem;
  font-weight: 700;
}
